@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700,400);

body {
	background-color: #000;
	color: #000;
	text-align: center;	
	font-family: georgia, serif
	
 }
 h1, h2, h3{
    font-family: 'Alegreya Sans SC', sans-serif;
 }
 .wrapper{
 	background: #3c536e;
 }
 #nav1 {
 	font-family: arial black, sans-serif; 
 	text-align: right; 
 	margin-top: 20px;
 	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
 }
a {
	text-transform: uppercase; 
	color: #fff;
	padding: 0px 30px 0 30px;	
}
 header{
 	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
 }
 main{
 	height: 800px;
 	background: url(../images/hero1_mainstreet.jpg) no-repeat bottom center scroll;
    background-size: cover; 
 }
 h1 {
 	color: #235c58;
 	font-size: 60px;
 	text-align: left;
 	padding: 5px 5px 0px 30px;
 	margin-bottom: 0px;
 }
 h2{
    font-size: 30px;
    color:#3c536e;
    text-align: right;
    margin-right: 80px;
    margin-top: 0px
 }
 #transparent{
 	background-color: #3c536e;
 	opacity: 0.6;
 	margin: 0px 50px 0px 50px;
 	padding: 5px 30px 70px 30px;
 	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
 	
 
 }
 p {
 	color: #ffffff;
 }
 h3{

 }
 section{

 }
 footer{
 	font-family: arial black, sans-serif;
 	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;


