@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700,400);

body {
	background: url(../images/hero1_mainstreet.jpg) no-repeat;
	background-size: contain;
	text-align: center;	
	font-family: georgia, serif
	margin: 3em;
 }
 nav{
    
 }
 header{

 }
 h1 {
 	color: #FFF9AE;
 	font-family: 'Alegreya Sans SC', sans-serif;
 	font-size: 60px;
 }
 h2{
    font-size: 30px;
 }
 p {
 	color: #ffffff;
 	margin: 50px;

 }
 ul {
 	text-align: center;
 	color: #ffffff;
 	list-style-type: none;
 	
 }
 h3{

 }
 section{

 }
 h4{

 }
 footer{
 	background-color: #000
 }
  .navlinks{
 	
 }
  #slogan {
 	color: #FFF9AE;
 	
 }
